/* ------- Footer ------- */

.footer-page {
    margin-right: auto;
    margin-left: auto;
    background-color: #2f303a;
  }

.footer.container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }

.footer-address__box {
    margin-bottom: 20px;
  }
  
.footer .footer-address__contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.footer-address__list {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    text-decoration: none;
  }

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }

.contact.address {
    color: #ffffff;
  }

.contact {
    color: rgba(255, 255, 255, 0.6);
  }

/* ------- Footer Social ------- */

.footer-social {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }
  
.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  }

.footer-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer-social__item:not(:last-child) {
    margin-right: 10px;
  }

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
    background-color: #2196f3;
    }
  }

.footer-social__icon {
    fill: #ffffff;
  }

/* ------- Footer Subscribe Newsletter Follower ------- */
  
.subscribe-newsletter {
  margin-left: auto;
}

.subscribe-newsletter__title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $third-text-color;
}

.subscribe-newsletter__form {
  display: flex;
  flex-direction: row;
}

.subscribe-newsletter__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 15px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
  border-color: #2196F3;
  }
}

.subscribe-newsletter__btn-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #FFFFFF;;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  cursor: pointer;
    &:hover,
    &:focus {
  background-color: #188ce8;
  }
}

.subscribe-newsletter-icon {
  margin-left: 10px;
}
