.job-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    
  }
  .job-list > .job-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  
  .job-list .job-list__item + .job-list__item {
    margin-left: 30px;
  }
  
  .job-list__box {
    position: relative;
    overflow: hidden;
    width: 370px;
  }
  
  .job-list__text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
  } 