.header-logo {
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo__box {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: $accent-logo-color;
}
  

.header-logo__color {
  color: $second-text-color;
}

.footer-logo__color {
    color: $third-text-color;
    background-color: $third-bg-color;
  }

.footer-logo__box {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: $accent-logo-color;
  }