/* -_-_-_-_-_-_- Modal window -_-_-_-_-_-_- */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  // Прозрачность модального окна
  //   opacity: 0.97;

  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop .is-hidde .modal {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
  
  .modal {
    position: absolute;
    // min-width: 528px;
    // min-height: 581px;
    // width: calc(100% - 30px);
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* visibility: visible; */
    left: 50%;
    top: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @media screen and (max-width: 479px) {
    //     width: calc(100% - 30px);
    //     width: 95%;
    //   }
    @include mob {
      width: 450px;
    }
    @include desk {
      width: 528px;
    }
  }
  
  .modal__close {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    // margin-top: 8px;
    // margin-right: 8px;
    padding: 0;
    top: 8px;
    right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
    fill: $accent-logo-color;
  }
  }

  .modal__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
    fill: $accent-logo-color;
  }
  }
  
  .modal .modal__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    margin-bottom: 12px;
    color: #212121;
  }

  .form-field  {
    margin-bottom: 10px;
      &:last-child {
    margin-bottom: 0;
    }
  }
  
  .form-field__label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: $first-text-color;
  }

  
  .form-field__input {
    position: relative;
      &:focus {
        border-color: $accent-logo-color;
      }
  }
  
  .form-field__modal-input {
    width: 100%;
    height: 40px;
    left: 576px;
    top: 450px;
    padding-left: 30px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: $accent-logo-color;
    }
  }
  
  .form-field__modal-input:focus + .form-field__modal-icon {
    fill: $accent-logo-color;
  }
  
  .form-field__modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field__comment-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: calc(16 / 14);
    @include tab {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
    outline: none;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus {
    border-color: $accent-logo-color;
    }
      &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @include tab {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
    }
  }
  
  .modal-agreement {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .modal .modal-agreement__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    margin-top: 0;
    @include desk {
      font-size: 14px;
      line-height: calc(24 / 14);
    }
  }
  
  .modal .modal-agreement__checkbox {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
  }
  
  .modal .modal-agreement__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-right: 8px;
    border-radius: 2px;
    border: 2px solid #212121;
    /* text-decoration: underline; */
  }

  .modal .modal-agreement__checkbox-span {
    color: #757575;
  }
  
  
  .modal .modal-agreement__checkbox-contract {
    color: $accent-logo-color;
    text-decoration: underline;
  }
  
  .modal .modal-agreement__checkbox:checked + .modal-agreement__checkbox-icon {
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-logo-color;
    background-color: $accent-logo-color;
    background-image: url(../images/full-check.svg);
  }
  
  .modal__submit {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $third-text-color;
    background: $accent-logo-color;
  }
  
  