/* ------- Our comand ------- */

.team.section {
    background-color: $second-bg-color;
  }
  
  .team-list {
    display: flex;
    margin-right: -30px;
  }

  .team-list > .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
    background-color: $nav-bg-color;
  }
  
  .team-list .team-list__item + .team-list__item {
    margin-left: 30px;
    color: $third-bg-color;
  }
  
  .team-list__content {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), px 2px 1px rgba(0, 0, 0, 0.2);;
    border-radius: 0px 0px 4px 4px;
    background: $nav-bg-color;
  }

  .team-list__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: $second-text-color;
  }
  
  .team-list__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: $first-text-color;
  }
  
  .team-list__social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .social-list__item + .social-list__item {
    margin-left: 10px;
  }
  
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: $nav-bg-color;
    color: $social-network-bg-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
    background-color: $accent-logo-color;
    color: $third-text-color;
  }
  }
  
  .social-list__icon {
    fill: currentColor;
  }
  
  
  
  