body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(26 / 14);
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    background-color: var(--nav-bg-color);
  }
  
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @include mob {
      width: 480px;
    }
  
    @include tab {
      width: 768px;
    }
  
    @include desk {
      width: 1200px;
    }
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    @include desk {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .section-title {
    text-align: center;
    font-size: 28px;
    line-height: calc(33 / 28);
    margin-bottom: 30px;
    color: $second-text-color;
    @include desk {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }