@mixin font($fw, $fz, $lh, $ls) {
    font-weight: $fw;
    font-size: $fz;
    line-height: calc($lh / $fz);
    letter-spacing: $ls;
  }
  
  @mixin mob {
    @media screen and (min-width: 480px) {
      @content;
    }
  }

  @mixin mobmax {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
  
  @mixin tab {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @mixin tabmax {
    @media screen and (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin desk {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin media($size) {
    @media screen and (min-width: $size) {
      @content;
    }
  }
  
  @mixin x2-ratio {
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @content;
    }
  }